//couleurs :
$rose : #fbdfdc;
$vert-fonce : #0e2b2f;



// anciennes couleurs :
$color-ddd :rgb(255, 120, 0);
$corail : lightcoral;
$degrade-corail : linear-gradient($corail, rgb(206, 108, 108));
$vert : rgb(121, 204, 121);
$degrade-vert : linear-gradient($vert, #62a762);
$bleu : rgb(6, 0, 81);




// polices :
$font-ddd : 'Monotype Corsiva';
$font-Parisienne :'Parisienne', cursive;
$lobster : 'Lobster', cursive;


